<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Users to Wallet</title>
  <div th:replace="fragments/layout :: css-sheets"></div>
</head>

<body>

<div th:replace="fragments/layout :: header"></div>

<section class="section bg-light">
  <div class="container mt-10">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h2 class="title mb-4" th:text="#{add.users.to.wallet.title}">Add Users to Wallet</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-6 col-12 mt-4 pt-2">
        <div class="rounded bg-white border shadow">
          <div class="bg-light p-4 text-center rounded-top">
            <h4 class="mb-0 text-primary" th:text="#{add.users.to.wallet.subtitle}">Enter User Details</h4>
          </div>

          <div class="p-4">
            <form th:action="@{'/wallets/' + ${wallet.id}+'/users'}" method="post">

              <div class="form-group">
                <label for="userToAdd" th:text="#{user.name.to.add}">Username to Add:</label>
                <input type="text" id="userToAdd" name="userToAdd" class="form-control" required>
              </div>


              <button type="submit" class="btn btn-primary">Add User to Wallet</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div th:replace="fragments/layout :: footer"></div>

<div th:replace="fragments/layout :: js-scripts"></div>

</body>

</html>